In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
books = pd.read_csv("books.csv")

In [3]:
books.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [4]:
books['description'][1]

"A new 'Christie for Christmas' -- a full-length novel adapted from her acclaimed play by Charles Osborne Following BLACK COFFEE and THE UNEXPECTED GUEST comes the final Agatha Christie play novelisation, bringing her superb storytelling to a new legion of fans. Clarissa, the wife of a Foreign Office diplomat, is given to daydreaming. 'Supposing I were to come down one morning and find a dead body in the library, what should I do?' she muses. Clarissa has her chance to find out when she discovers a body in the drawing-room of her house in Kent. Desperate to dispose of the body before her husband comes home with an important foreign politician, Clarissa persuades her three house guests to become accessories and accomplices. It seems that the murdered man was not unknown to certain members of the house party (but which ones?), and the search begins for the murderer and the motive, while at the same time trying to persuade a police inspector that there has been no murder at all... SPIDER'S WEB was written in 1954 specifically for Margaret Lockwood and opened first at the Theatre Royal Nottingham before moving to the Savoy Theatre in London on 14 December 1954. With THE MOUSETRAP and WI"

In [5]:
books.describe()

,isbn13,published_year,average_rating,num_pages,ratings_count
count,6.810000e+03,6804.000000,6767.000000,6767.000000,6.767000e+03
mean,9.780677e+12,1998.630364,3.933284,348.181026,2.106910e+04
std,6.068911e+08,10.484257,0.331352,242.376783,1.376207e+05
min,9.780002e+12,1853.000000,0.000000,0.000000,0.000000e+00
25%,9.780330e+12,1996.000000,3.770000,208.000000,1.590000e+02
50%,9.780553e+12,2002.000000,3.960000,304.000000,1.018000e+03
75%,9.780810e+12,2005.000000,4.130000,420.000000,5.992500e+03
max,9.789042e+12,2019.000000,5.000000,3342.000000,5.629932e+06

In [6]:
books = books.drop(columns=['isbn13','isbn10','subtitle','published_year','num_pages'])

In [7]:
final_df = books[['title','authors','categories','description']]

In [8]:
final_df.head()

,title,authors,categories,description
0,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...
1,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...
2,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...
3,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b..."
4,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...

In [9]:
final_df.isnull().mean()*100

title          0.000000
authors        1.057269
categories     1.453744
description    3.847283
dtype: float64

In [10]:
final_df.fillna('',inplace = True)

C:\Users\asus\anaconda3\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [11]:
final_df.isnull().sum()

title          0
authors        0
categories     0
description    0
dtype: int64

In [12]:
final_df.head()

,title,authors,categories,description
0,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...
1,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...
2,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...
3,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b..."
4,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...

In [13]:
final_df['authors'] = final_df['authors'].apply(lambda x:x.replace(" ",""))

<ipython-input-13-2e17a9f7ee81>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['authors'] = final_df['authors'].apply(lambda x:x.replace(" ",""))

In [14]:
final_df.head()

,title,authors,categories,description
0,Gilead,MarilynneRobinson,Fiction,A NOVEL THAT READERS and critics have been eag...
1,Spider's Web,CharlesOsborne;AgathaChristie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...
2,The One Tree,StephenR.Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...
3,Rage of angels,SidneySheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b..."
4,The Four Loves,CliveStaplesLewis,Christian life,Lewis' work on the nature of love divides love...

In [15]:
final_df['categories'] = final_df['categories'].apply(lambda x:x.split())

<ipython-input-15-fea99f8d54d9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['categories'] = final_df['categories'].apply(lambda x:x.split())

In [16]:
final_df['description'] = final_df['description'].apply(lambda x:x.split())

<ipython-input-16-cb4900153a7c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['description'] = final_df['description'].apply(lambda x:x.split())

In [17]:
final_df['authors'] = final_df['authors'].apply(lambda x:x.split())

<ipython-input-17-e3d401a5a91f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['authors'] = final_df['authors'].apply(lambda x:x.split())

In [18]:
final_df['tags'] = final_df['authors'] + final_df['categories'] + final_df['description']

<ipython-input-18-3558ffb43141>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['tags'] = final_df['authors'] + final_df['categories'] + final_df['description']

In [19]:
final_df = final_df[['title','tags']]

In [20]:
final_df['tags'] = final_df['tags'].apply(lambda x : " ".join(x))

In [21]:
final_df['tags'][0]

'MarilynneRobinson Fiction A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who returns to Gilead searching for forgiveness and redemption. Told in John Ames’s joyous, rambling voice that finds beauty, humour and truth in the smallest of life’s details, Gilead is a song of celebration and acceptance of the best and the worst the world has to offer. At its heart is a tale of the sacred bonds between fathers and sons, pitch-perfect in style and story, set to dazzle critics and readers alike.'

In [22]:
final_df['tags'] = final_df['tags'].apply(lambda x:x.lower())

In [23]:
import nltk
from nltk.stem.porter import PorterStemmer

In [24]:
ps = PorterStemmer()

In [25]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [26]:
final_df['tags'] = final_df['tags'].apply(stem)

In [27]:
f = open('english_stopwords.txt')

In [28]:
stopwords = f.read()

In [29]:
def rem_stopwords(text):
    ans = []
    for word in text.split():
        if word not in stopwords:
            ans.append(word)
    return " ".join(ans)

In [30]:
final_df['tags'] = final_df['tags'].apply(rem_stopwords)

In [31]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000)

In [32]:
vectors = cv.fit_transform(final_df['tags']).toarray()

In [33]:
from sklearn.metrics.pairwise import cosine_similarity

In [34]:
similarity = cosine_similarity(vectors)

In [35]:
sorted(list(enumerate(similarity[0])),reverse = True, key = lambda x: x[1])[1:6]

[(3360, 0.31150100948372944),
 (954, 0.31128640318234524),
 (330, 0.29348363544187456),
 (1979, 0.2926152399430598),
 (6435, 0.27212388279741134)]

In [206]:
# similarity.shape
shape = (6810,5)
simi = np.zeros(shape)

In [210]:
simi = [0,3]
# simi.shape
simi.pop(0)

0

In [212]:
simi.pop(0)

3

In [213]:
for i in range(0,similarity.shape[0]):
    simi.append(sorted(list(enumerate(similarity[i])),reverse = True, key = lambda x: x[1])[1:6])

In [217]:
sorted(list(enumerate(similarity[1])),reverse = True, key = lambda x: x[1])[1:6]

[(17, 0.33145137225972465),
 (982, 0.20054543301971386),
 (55, 0.19719617709161863),
 (2401, 0.19425717247145283),
 (808, 0.18428853505018536)]

In [220]:
sorted(list(simi[1]),reverse = True, key = lambda x: x[1])[0:5]

[(17, 0.33145137225972465),
 (982, 0.20054543301971386),
 (55, 0.19719617709161863),
 (2401, 0.19425717247145283),
 (808, 0.18428853505018536)]

In [221]:
def recommend(book):
    book_index = final_df[final_df['title'] == book].index[0]
    dist = simi[book_index]
    book_list = sorted(list((dist)),reverse = True, key = lambda x: x[1])[0:5]
    for i in book_list:
        print(final_df.iloc[i[0]].title)

In [80]:
books[books['title']=='Romeo and Juliet'].index[0]

4442

In [223]:
recommend('Romeo and Juliet')

Romeo and Juliet
Romeo and Juliet
A Midsummer Night's Dream
Twelfth Night
Twelfth Night

In [177]:
books=books.drop(columns=['description','categories'])

In [229]:
import pickle

In [185]:
pickle.dump(similarity,open('simi.pkl','wb'))

In [230]:
pickle.dump(simi,open('simi1.pkl','wb'))

In [186]:
similarity.shape

(6810, 6810)

In [193]:
pickle.dump(books.to_dict(),open('books_dict.pkl','wb'))